spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bankcards
    username: bankcards
    password: bankcards
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  liquibase:
    enabled: true
